$primary: #b51783;

@font-face {
  font-family: 'press_start_2pregular';
  src: url('/font/pressstart2p-regular-webfont.woff2') format('woff2'),
  url('/font/pressstart2p-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Import Bootstrap and BootstrapVue source SCSS files
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

font-retro {
  font-family: 'press_start_2pregular' !important;
}

.btn {
  font-family: 'press_start_2pregular' !important;
  border-bottom: 6px inset rgba(0,0,0,.5) !important;
  border-left: 6px inset rgba(0,0,0,.5) !important;
  border-right: 6px inset rgba(255,255,255,.5) !important;
  border-top: 6px inset rgba(255,255,255,.5) !important;

}

.button-primary{
  border-bottom: 8px inset rgba(0,0,0,.5);
  border-left: 8px inset rgba(0,0,0,.5);
  border-right: 8px inset rgba(255,255,255,.5);
  border-top: 8px inset rgba(255,255,255,.5);
}